<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workdance.chatbot.dal.mybatisplus.mapper.AiChatbotBrainMapper">
  <resultMap id="BaseResultMap" type="com.workdance.chatbot.dal.mybatisplus.entity.AiChatbotBrainDO">
    <!--@mbg.generated-->
    <!--@Table ai_chatbot_brain-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="model" jdbcType="LONGVARCHAR" property="model" />
    <result column="max_tokens" jdbcType="BIGINT" property="maxTokens" />
    <result column="temperature" jdbcType="FLOAT" property="temperature" />
    <result column="prompt_id" jdbcType="VARCHAR" property="promptId" />
    <result column="brain_type" jdbcType="VARCHAR" property="brainType" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="brain_id" jdbcType="VARCHAR" property="brainId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `status`, description, model, max_tokens, temperature, prompt_id, brain_type,
    gmt_create, gmt_modified, deleted_at, brain_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from ai_chatbot_brain
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from ai_chatbot_brain
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.workdance.chatbot.dal.mybatisplus.entity.AiChatbotBrainDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ai_chatbot_brain (`name`, `status`, description,
      model, max_tokens, temperature,
      prompt_id, brain_type, gmt_create,
      gmt_modified, deleted_at, brain_id
      )
    values (#{name,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR},
      #{model,jdbcType=LONGVARCHAR}, #{maxTokens,jdbcType=BIGINT}, #{temperature,jdbcType=FLOAT},
      #{promptId,jdbcType=VARCHAR}, #{brainType,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
      #{gmtModified,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP}, #{brainId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.workdance.chatbot.dal.mybatisplus.entity.AiChatbotBrainDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ai_chatbot_brain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="maxTokens != null">
        max_tokens,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="promptId != null">
        prompt_id,
      </if>
      <if test="brainType != null">
        brain_type,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
      <if test="brainId != null">
        brain_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=LONGVARCHAR},
      </if>
      <if test="maxTokens != null">
        #{maxTokens,jdbcType=BIGINT},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=FLOAT},
      </if>
      <if test="promptId != null">
        #{promptId,jdbcType=VARCHAR},
      </if>
      <if test="brainType != null">
        #{brainType,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="brainId != null">
        #{brainId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.workdance.chatbot.dal.mybatisplus.entity.AiChatbotBrainDO">
    <!--@mbg.generated-->
    update ai_chatbot_brain
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=LONGVARCHAR},
      </if>
      <if test="maxTokens != null">
        max_tokens = #{maxTokens,jdbcType=BIGINT},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=FLOAT},
      </if>
      <if test="promptId != null">
        prompt_id = #{promptId,jdbcType=VARCHAR},
      </if>
      <if test="brainType != null">
        brain_type = #{brainType,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="brainId != null">
        brain_id = #{brainId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.workdance.chatbot.dal.mybatisplus.entity.AiChatbotBrainDO">
    <!--@mbg.generated-->
    update ai_chatbot_brain
    set `name` = #{name,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      model = #{model,jdbcType=LONGVARCHAR},
      max_tokens = #{maxTokens,jdbcType=BIGINT},
      temperature = #{temperature,jdbcType=FLOAT},
      prompt_id = #{promptId,jdbcType=VARCHAR},
      brain_type = #{brainType,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      brain_id = #{brainId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
